/node_modules
/public/hot
/public/storage
/public/img/items
/public/img/categories
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Heads_Up.txt
