// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap fails hiding on smaller screen
@media (max-width: 576px) {
  .hide-small {
    display: none !important;
  }
}

div .category-bg-image {
  width:100%;
  height:125%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:-25%;
  z-index:-1;
}

.add_by_category_button {
  box-shadow: 0 0 10px black;
  color:white;
  text-align: center;
  font-weight: bold;
  padding:17px 10px;
  position: fixed;
  bottom:25px;
  right: 25px;
  width: 100px;
  height: 100px;
  border-radius:50%;
  background: indianred;
  transition:.5s;
}

.add_by_category_button:hover {
  background: firebrick;
  box-shadow: none;
  transform: scale(0.95);
}

